<!DOCTYPE html>
<html>
  <head>
    <title>Desafio General 02</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="color: <%= color %>"><%- titulo %></h1>
    <meter id="my-meter" value="<%= nivel %>" min="<%= min %>" max="<%= max %>"></meter>
  </body>
</html>
  