<h1>Detalle de usuario</h1>
<p>ID: {{_id}}</p>
<p>Nombre: {{nombre}}</p>
<p>Apellido: {{apellido}}</p>
<p>Edad: {{edad}}</p>
<p>Teléfono: {{telefono}}</p>
{{#if avatar}}
  <img src="{{avatar}}" alt="{{nombre}}">
{{/if}}